@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@300;400;500;600;700&display=swap');

.title {
  text-align: center;
  width: 70%;
  padding: 30px;
  border-bottom: 1px solid #d6ae7b;
  margin-bottom: 30px;
  font-family: 'Alkatra', cursive;
  font-size: 30px;
}

.image {
  height: 200px!important;
  width: 200px!important;
  padding: 0!important;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
}

.image img{
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}


