@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@300;400;500;600;700&display=swap');


section{
  height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

section .title {
  text-align: center;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #d6ae7b;
  margin-bottom: 30px;
  font-family: 'Alkatra', cursive;
  font-size: 30px;
}

.swiper{
  width: 70%;
}

.card{
  background: #fff;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  height: 40%;
  width: 100%;
  background: #FF676D;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  z-index: 100;
}

section .card img{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

section .card .link {
  width: 100%;
  height: 10%;
  position: absolute;
  padding-top: 7px;
  text-decoration: none;
  bottom: 10px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  color: white;
  border-radius: 0 0 20px 20px;
}

section .card .link:hover {
  background-color: #000;
}

.swiper-pagination{
  position: relative;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #FF676D;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #FF676D;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #FF676D;
}

